<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>津卫青年</title>
        <link rel="stylesheet" href="/static/amaze/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/css.css">

</head>
<body>
<div class="am-container"  id="tree" style="padding: 0px; margin: 0px">
    <div class="am-u-sm-12" style="padding: 0px; margin: 0px">
        <img src="/static/imgs/bgtree.jpg" alt="" class="am-img-responsive">
        <div style="width: 30rem; height: 20rem;  position: absolute;
left:23rem; top:80rem"></div>
    </div>

</div>
</body>

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/amaze/js/amazeui.min.js"></script>
<script>
document.getElementById("tree").onclick=function(){
    window.location.href = "/upload"
};
</script>
</html>