<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>Title</title>
    <link rel="stylesheet" href="/static/amaze/css/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/css.css">
</head>
<body>
<div class="am-g">
    <div class="am-text-center login-title">
        <h1>登录界面</h1>
    </div>
    <form action="/login/" method="post" class="am-form" id="am-form">
        <input type="text" name="no" class="am-input-lg am-round login-text am-center" placeholder="警员编号">

        <input type="text" name="password" class="am-input-lg am-round login-password login-text am-center" placeholder="登录密码">

        <input type="submit" class="am-btn am-btn-success am-btn-lg login-submit am-center am-round" value="登录">
    </form>
</div>

{#<div class="am-g">#}
{#    <h2 class="am-header am-text-center login-title ">用户登录</h2>#}
{#    <form action="" class="am-form-group" >#}
{#        <div class="am-g">#}
{#            <input type="text" placeholder="警员编号" class="am-round" name="username">#}
{#        </div>#}
{#        <div class="am-g">#}
{#            <input type="password" placeholder="登录密码" class="am-round" name="password">#}
{#        </div>#}
{##}
{#    </form>#}
{#</div>#}
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/amaze/js/amazeui.min.js"></script>
</html>