<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style>
        .title{
           width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
<div class="title" style="background-color: red; float: left"></div>
{#<div style="clear: both"></div>#}
<div class="title" style="background-color: #0b6fa2"></div>
<div class="title" style="background-color: #3f913f"></div>

</body>

</html>

